---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import ImageBanner from "../components/ImageBanner.astro";

import Ruth from "../images/ruth.webp";
import Docu from "../images/docu.jpeg";
import Fabriek from "../images/fabriek.png";
import Squad from "../images/squad.png";

import { Image, imageConfig } from "astro:assets";
---

<Layout title="Iepen Ierdewurk">
  <!-- <div class="w-full h-[60vw] max-h-[calc(100vh-100px)] flex justify-center">
    <div class="absolute inset-0 top-[50vw]"></div>
    
  </div> -->

  <div class="w-full flex justify-center p-8 py-20">
    <Logo />
  </div>

  <div class="relative flex flex-wrap gap-4 px-4">
    <ImageBanner src={Ruth} title="Pop-upexposities" />
    <ImageBanner src={Docu} title="Documentaire" />
    <ImageBanner src={Fabriek} title="Coming soon: Frysk brûsend theater" />
  </div>
  <!-- <div class="relative h-screen w-full bg-lightblue"></div> -->
</Layout>
