---
interface Props {
  class?: string;
  animate?: boolean;
}
const { class: className, animate = true } = Astro.props;
---

<script>
  import gsap from "gsap";

  gsap.from(".card.animate", {
    opacity: 0,
    y: 20,
    duration: 1,
    delay: 0.5,
    stagger: 0.15,
  });
</script>

<div
  class:list={[
    "card rounded-lg overflow-hidden ",
    className,
    animate ? "animate" : "",
  ]}
>
  <slot />
</div>
