---
import { Image } from "astro:assets";
import Card from "./Card.astro";

interface Props {
  src: ImageMetadata;
  class?: string;
  width?: number;
}
---

<Card
  class:list={[
    "image-banner bg-gray-500 p-4 aspect-[3/2] h-full w-full flex-1 flex flex-col items-center justify-center  text-white",
    Astro.props.class,
  ]}
>
  <div
    class="absolute inset-0 pointer-events-none bg-gradient-to-b bg-[#646668]"
  >
    <Image
      loading="eager"
      src={Astro.props.src}
      width={Astro.props.width ?? 500}
      alt=""
      class="absolute w-full h-full object-cover mix-blend-overlay"
    />
  </div>
  <slot />
</Card>
