---
import { Image } from "astro:assets";
import Card from "./Card.astro";

interface Props {
  src: ImageMetadata;
  class?: string;
}
---

<Card
  class:list={[
    "image-banner bg-gray-500 aspect-[3/2] flex-1 flex-center p-4",
    Astro.props.class,
  ]}
>
  <Image
    loading="eager"
    src={Astro.props.src}
    width={500}
    alt=""
    class="absolute w-full h-full object-cover"
  />
  <div
    class="absolute inset-0 pointer-events-none bg-gradient-to-b from-black/20 to-black/80"
  >
  </div>
  <div class="relative text-white max-w-[80%]">
    <slot />
  </div>
</Card>
